<launch>
<node pkg="encoder_imu_ekf_ros" type="init_ekf_node" name="init_ekf"  output="screen" />
<node pkg="tf" type="static_transform_publisher" name="world_to_ENU_tf" args="0 0 0 0 0 0 /map /ENU 100"/>
<node pkg="encoder_imu_ekf_ros" type="ekf_node" name="ekf"  output="screen" />
<!-- 
<node type="rviz" name="rviz" pkg="rviz" args="-d encoder_ekf_ros/rviz/aided_nav.rviz" /> -->
</launch>
